/mongo/db
/mongo/dump
/mysql-8/data
/mysql-5.7/data
/mysql-8/dump
/mysql-5.7/dump
/mysql/logs
/postgres/data
/postgres/dump
/.ssh/*
/.ssh/!.gitkeep
/redis/data
/nginx/logs
/mongo-webui

# Файлы web-проектов
/projects/smart.aide.ru
/projects/smart-system.aide.ru

# Другие файлы
.idea/
.DS_Store
